# Caddy v2 configuration.
# Variáveis substituídas pelo cloud-init. Este arquivo é referência.

{
    email {$ACME_EMAIL}
}

{$DOMAIN} {
    encode gzip
    reverse_proxy n8n:5678 {
        flush_interval -1
    }
}
